{% load static %}
{% include 'main.html' %}
<body>
{% include 'header.html'%}

<div class="col-md-6 col-lg-5 px-0 d-flex justify-content-center">
    <form action="">
      {% csrf_token %}
      <fieldset>
        <legend><h2> Contact Us </h2>
        </legend>
      <div>
        <input type="text" placeholder="Name" />
      </div><br>
      <div>
        <input type="email" placeholder="Email" />
      </div><br>
      <div>
        <input type="text" placeholder="Phone" />
      </div><br>
      <div>
        <input type="text" class="message-box" placeholder="Message" />
      </div><br>
      <div class="d-flex ">
        <button type="submit">
            Submit          
        </button>
      </div><br>
    </fieldset>
    </form>
</div><br><br>

{% include 'footer.html'%}
</body>