{% load static %}
{% include 'main.html'%}
{% include 'header.html'%}
<body>


 <!-- shop section -->

{% if username %}
    <h1>Welcome to the Shop, {{ username }}</h1>
    <h2>Products Available Here</h2>
    <ul>
    {% for product in products %}
        <li>
            
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>
           
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
    
            <a href="{% url 'add_to_cart' product.id %}">Add to Cart</a>
        </li>
    {% empty %}
    <p>No products available   </p>
    {% endfor %}
    </ul>
{% else %}
    <p>You need to be logged in to view the shop.</p>
    <a href="{% url 'login' %}">Login</a>
{% endif %}

  <!-- end shop section -->
</body>